<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<mapping class="com.master.model.RoomsMasterModel" />
		<mapping class="com.model.customer.Customer" />
		<mapping class="com.rent.model.RentModel" />
		<mapping class="com.master.model.Area" />
		<mapping class="com.master.model.RoomType" />
	</session-factory>

</hibernate-configuration>